.SetlistMetadataComponent {
    border: 1px solid;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 1.5em;
    background-color: #666b70;
}

.SetlistMetadataComponent h2 {
    background-color: #6C809A;
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 0%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

}

.SetlistMetadataComponent table {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1.5em;
}

.SetlistMetadataComponent th {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.SetlistMetadataComponent td {
    text-align: center;
    font-size: 1.3em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    color: white;
}