.SetlistComponent {
    border: 1px solid;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 1.5em;
}

.SetlistComponent h2 {
    background-color: #666b70;
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 0%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.SetlistComponent ol{
    padding-left: 10%;
    font-size: 1.2em;
    color: white;
}

.SetlistComponent p {
    padding-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

