.SetlistAlbumGraphComponent {
    height: 400px;
    border: 1px solid;
    border-radius: 25px;
    padding-bottom: 10%;
}

.SetlistAlbumGraphComponent h2 {
    background-color: blue;
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 0%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}